$textweight: 500;
.boxForCart{
margin-top: 150px;
margin-left: 150px;
margin-bottom: 20px;

width: 55%;
padding: 20px;
border: groove;
border-color: rgb(252, 251, 251);
border-width: 0.1px;
display: flex;
}
.carttag{
    padding-bottom: 20px;
    font-weight: $textweight;
}
.informationOfBook{
    flex-direction: row;
    display: flex;
}
.authors {
    padding-left: 35px;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
    color: grey;
 }
.prices{
        padding-left: 35px;
        padding-bottom: 10px;
        font-weight: bold;
}
.container{
    width: 100%;
}
.title {
         
        padding-left: 35px;
        font-weight: $textweight;
 }
 .quantityContainer{
    flex-direction: row;
    display: flex;
}
 
 .countButton{
    margin-left:35px;
 } 
 .inputQuantity{
    height: 20px;
    position: relative;
    bottom: 5px;
    width: 25px;
    margin: 10px;
    padding-left: 25px;
 } 
 .remove{
    padding-top: 4px;
    padding-left: 20px;
    font-size: 15px;
 } 
 .placeOrder{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.hedlineContainers{
    margin-left: 150px;
width: 55%;
padding: 20px;
border: groove;
border-color: rgb(252, 251, 251);
margin-top: 25px;
border-width: 0.1px;
display: flex;
}

.EmptyCart{
    height: 100%;
    margin-top:50px ;
    background-color:rgb(247, 249, 245);
    flex-direction: column;
    align-items: center;
    align-content: center;
    display:flex;
}
.shopping{
padding-top: 10%;
    content: url('../images/EmptyCart.png');
    width:50%
}

.continueShopping{
padding-bottom: 20px;
position: relative;
bottom: 15px;
font-size: 25px;
    font-weight: 600;
}