
.searchBar{
    position: relative;
    right: 30em;
    flex-direction: row;
    display: flex;
    width:40em;

  
    background-color:white;
    border-radius: 5px;
}
.inputText
{
    width:100%;
   height: 20px;
   border-style: none;
   position: relative;
   top:8px;
   background-color:white;
}
.bookIcon{
   
    position: relative;
    top:3px;
    //left:2px;
    right: 200px;
    flex-direction: row;
    display: flex;
}
.shopingcart
{
    flex-direction: row;
    display: flex;
    position: relative;
    right:12em;
    
} 
.account{
    padding-left: 30px;
}
.cart{
    position: relative;
    bottom: 2px;
    padding-right: 5px;
}
@media only screen and  (max-width: 414PX) {
.searchBar{
    position: relative;
    right: 30em;
    flex-direction: row;
    display: flex;
    width:40em;

  
    background-color:white;
    border-radius: 5px;
} 
.cart{
}
.shopingcart{
    right: 20em;
}
.inputText{
    width:20px;
}
.bookIcon{
}
.account{
    padding-left: 10px;
}
}
@media only screen and  (max-width: 360PX) {
    .searchBar{
    
    } 
    .cart{
    }
    .shopingcart{
        right: 22em;
    }
    .inputText{
        width:20px;
    }
    .bookIcon{
    }
    }
   @media only screen and  (max-width: 375PX) { 
        .searchBar{
        
        } 
        .cart{
        }
        .shopingcart{
            right: 22em;
        }
        .inputText{
            width:20px;
        }
        .bookIcon{
        }
        }
        @media only screen and  (max-width: 375PX) { 
            .searchBar{
            
            } 
            .cart{
            }
            .shopingcart{
                right: 26em;
            }
            .inputText{
                width:20px;
            }
            .bookIcon{
            }
            }