$bookContainerColor:rgb(243, 243, 243);
$textweight: 600;
$buttonColor:rgba(160, 48, 55, 0.925);
.masonry-grid {
    width: 100%;
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      flex-wrap: wrap;
      flex-grow: initial;
      overflow-wrap: initial;
      padding-left:100px;; /* gutter size offset */
      margin-top: 50px;
      
  }
  .masonry-grid_column {
    padding-left: 25px; /* gutter size */
    background-clip: padding-box;
    width: 230px !important;
  }
  
  /* Style your items */
  .masonry-grid_column > div {
    margin: 25px 0 !important;
  }
  .bookimagecontainer{
    height: 180px ;
     width: 250px ;
      margin-Right : 10px;
      background-color: $bookContainerColor;
  }
  
  .display{
    // width:100%;
    display:flex;
    margin-top:50px;
    margin-left: 100px;
    align-items:flex-start;
    flex-direction:row 
  }
  .author {
padding-left: 15px;
font-size: 10px;
padding-top: 3px;
padding-bottom: 10px;
color: grey;
  }
  .price{
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: $textweight;
  }
   .titles{
       padding-top: 10px;
    padding-left: 15px;
    font-weight: $textweight;
   }
   .cardbuttonContainers{
   // padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    left:15px;
    width: 100%;
   }
   .Buttons{
    font-size: 10px !important;
    border-radius: 0 !important;
    background-color:$buttonColor !important ;
    color: white !important;
   }
   .buttonsetting{
flex-direction: row;
display: flex;

   }
   .wishlist{
    padding-left: 15px;
    padding-bottom: 15px
}
   .Buttonss{
    font-size: 10px;
   padding:7.7px;
   padding-left: 20px;
   padding-right: 20px;
    background-color:white;
    border-style: groove  ;
    border-radius: 0 ;
    
    border-color: rgb(253, 253, 253) ;
    border-width:1px 2px 2px 2px;
   }
   .imag{
       padding-top: 15px;
       padding-bottom: 10px;
       padding-left: 70px;
   }
   .ActiveButtons{
    
    width: 200px !important;
     height: 30px !important;
    font-size: 10px !important;
    border-radius: 0 !important;
    background-color:blue !important ;
    color: white !important;
    display: inline-block !important;
   }
 .wishlistButton{
  font-size: 10px;
  padding:7.7px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
   background-color:white;
   border-style: groove  ;
   border-radius: 0 ;
   width: 200px;
   border-color: rgb(253, 253, 253) ;
   border-width:1px 2px 2px 2px;
 }