$bookContainerColor:rgb(243, 243, 243);
$textweight: 600;
$buttonColor:rgba(160, 48, 55, 0.925);
$boxShadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
.masonry-grid {
    width: 100%;
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      flex-wrap: wrap;
      flex-grow: initial;
      overflow-wrap: initial;
      padding-left:100px;; /* gutter size offset */
  
      
  }
  .masonry-grid_column {
    padding-left: 25px; /* gutter size */
    background-clip: padding-box;
    width: 230px !important;
  }
  
  /* Style your items */
  .masonry-grid_column > div {
    margin: 25px 0 !important;
  }
  .bookimagecontainer{
    height: 180px;
    width: 230px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
    background-color: #f3f3f3;
  }
  
  .display{
    // width:100%;
    display:flex;
    margin-left: 100px;
    align-items:flex-start;
    flex-direction:row 
  }

  .author {
padding-left: 15px;
font-size: 10px;
padding-top: 3px;
padding-bottom: 10px;
color: grey;
  }
  .price{
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: $textweight;
  }
   .titles{
       padding-top: 10px;
    padding-left: 15px;
    font-weight: $textweight;
   }
   .cardbuttonContainers{
   // padding-left: 15px;
   
    position: relative;
    left:15px;
    width: 100%;
   }
   .Buttons {
    font-size: 10px !important;
    border-radius: 0 !important;
    background-color:$buttonColor !important ;
    color: white !important;
   }
   .buttonsetting{
flex-direction: row;
display: flex;

   }
   .wishlist{
    padding-left: 15px;
    padding-bottom: 15px
}
.paginations{
  justify-content: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
@mixin buttonsstyle() {
  font-size: 10px;
  padding:7.7px;
  padding-left: 20px;
  padding-right: 20px;
   background-color:white;
   border-style: groove  ;
   border-radius: 0 ;
   box-shadow:$boxShadow;
   border-color: rgb(253, 253, 253) ;
   border-width:1px 2px 2px 2px;
}
   .Buttonss{
    @include buttonsstyle();
   }
   .wishlistButton{
    @include buttonsstyle();
    width: 200px;
  
   }
   .imag{
       padding-top: 15px;
       padding-bottom: 10px;
       position: absolute;
   }
   .ActiveButtons{
    
    width: 200px !important;
     height: 30px !important;
    font-size: 10px !important;
    border-radius: 0 !important;
    background-color:blue !important ;
    color: white !important;
    display: inline-block !important;
   }
 
 .poppersetting{
 
  position: relative;
 
 }
 .img{   
  height: 150px;
     width: 100px;
 }
 .popperButtonsetting{
  width: 180px;
  background-color: white;
  border-color: grey;
  border-width: thin;
  padding: 5px;
  margin-top: 8%;
    margin-left: 68.5%;
 }
 .poperitom{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
 }
 .outoffstock{  
     border-style: groove;
  border-color: white;
  border-width: thin;
  justify-content: center;
  position: absolute;
  /* left: 50px; */
  align-items: center;
  display: flex;
  background-color: white;
  width: 65%;
  height: 20%;
  box-shadow:$boxShadow;

 }
 
 @media only screen and  (max-width: 414PX) {
  .masonry-grid {
     padding-left:0px;; /* gutter size offset */
  }
  .masonry-grid_column {
     padding-left: 35px; /* gutter size */ 
     width: 360px !important;
  }
  .display{
     margin-left: 0;
  }
  .popperButtonsetting{
    margin-left: 30%;
   }
   .img{   
    height: 200px;
       width: 150px;
   }
 
   .bookimagecontainer{
     width:100%;
     height: 250px;
  }
 

 @mixin buttonForResponsiv($widthforButton) {
  width: $widthforButton !important;
  height: 40px !important;
 font-size: 15px !important;
 }
 .wishlistButton{
  @include buttonForResponsiv( 95%);
  }
 .Buttons {
  @include buttonForResponsiv( 155px);
 }
 .cardbuttonContainers{
   width: 75%;
  }
  .Buttonss{
    @include buttonForResponsiv( 155px);
  }
  .ActiveButtons{
    @include buttonForResponsiv( 332px); 
   }
 }
 
  @media only screen and  (max-width: 360PX) {

  .masonry-grid_column {
     padding-left: 30px; /* gutter size */ 
    width: 290px !important;
  }

 @mixin buttonForResponsiv($widthforButton) {
  width: $widthforButton !important;
  height: 40px !important;
 font-size: 13px !important;
 }
 
 .wishlistButton{
  @include buttonForResponsiv( 95%);
  }
 .Buttons {
  @include buttonForResponsiv( 120px);
 }
 .cardbuttonContainers{
   width: 70%;
  }
  .Buttonss{
    @include buttonForResponsiv( 120px);
  }
  .ActiveButtons{
    @include buttonForResponsiv( 261px); 
   }
 }
 @media only screen and  (max-width: 375PX) {

  .masonry-grid_column {
     padding-left: 40px; /* gutter size */ 
    width: 290px !important;
  }

 @mixin buttonForResponsiv($widthforButton) {
  width: $widthforButton !important;
  height: 40px !important;
 font-size: 13px !important;
 }
 .wishlistButton{
  @include buttonForResponsiv( 95%);
  }
 .Buttons {
  @include buttonForResponsiv( 120px);
 }
 .cardbuttonContainers{
   width: 70%;
  }
  .Buttonss{
    @include buttonForResponsiv( 120px);
  }
  .ActiveButtons{
    @include buttonForResponsiv( 261px); 
   }
 }
 @media only screen and  (max-width: 320PX) {

    .masonry-grid_column {
       padding-left: 15px; /* gutter size */ 
    
    }
  
   }
   