$bookContainerColor:rgb(243, 243, 243);
$textweight: 600;
$buttonColor:rgba(160, 48, 55, 0.925);
$boxShadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
.masonry-grid {
    width: 100%;
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      flex-wrap: wrap;
      flex-grow: initial;
      overflow-wrap: initial;
      padding-left:100px;; /* gutter size offset */
      margin-top: 50px;
      
  }
  .masonry-grid_column {
    padding-left: 25px; /* gutter size */
    background-clip: padding-box;
    width: 230px !important;
  }
  
  /* Style your items */
  .masonry-grid_column > div {
    margin: 25px 0 !important;
  }
  .bookimagecontainer{
    height: 180px;
    width: 230px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
    background-color: #f3f3f3;
  }
  
  .display{
    // width:100%;
    display:flex;
    margin-top:50px;
    margin-left: 100px;
    align-items:flex-start;
    flex-direction:row 
  }
  .author {
padding-left: 15px;
font-size: 10px;
padding-top: 3px;
padding-bottom: 10px;
color: grey;
  }
  .price{
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: $textweight;
  }
   .titles{
       padding-top: 10px;
    padding-left: 15px;
    font-weight: $textweight;
   }
   .cardbuttonContainers{
   // padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    left:15px;
    width: 100%;
   }
   .Buttons {
    font-size: 10px !important;
    border-radius: 0 !important;
    background-color:$buttonColor !important ;
    color: white !important;
   }
   .buttonsetting{
flex-direction: row;
display: flex;

   }
   .wishlist{
    padding-left: 15px;
    padding-bottom: 15px
}
   .Buttonss{
    font-size: 10px;
   padding:7.7px;
   padding-left: 20px;
   padding-right: 20px;
    background-color:white;
    border-style: groove  ;
    border-radius: 0 ;
    box-shadow:$boxShadow;
    border-color: rgb(253, 253, 253) ;
    border-width:1px 2px 2px 2px;
   }
   .imag{
       padding-top: 15px;
       padding-bottom: 10px;
       padding-right: 50px;
   }
   .ActiveButtons{
    
    width: 200px !important;
     height: 30px !important;
    font-size: 10px !important;
    border-radius: 0 !important;
    background-color:blue !important ;
    color: white !important;
    display: inline-block !important;
   }
 .wishlistButton{
  font-size: 10px;
  padding:7.7px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
   background-color:white;
   border-style: groove  ;
   border-radius: 0 ;
   width: 200px;
   border-color: rgb(253, 253, 253) ;
   border-width:1px 2px 2px 2px;
   box-shadow:$boxShadow
 }
 .poppersetting{
  margin-top: 50px;
  position: relative;
  left: 800px;
 }
 .popperButtonsetting{
  width: 180px;
  background-color: white;
  border-color: grey;
  border-width: thin;
  padding: 5px;
 }
 .poperitom{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
 }
 .outoffstock{  
     border-style: groove;
  border-color: white;
  border-width: thin;
  justify-content: center;
  position: absolute;
  /* left: 50px; */
  align-items: center;
  display: flex;
  background-color: white;
  width: 65%;
  height: 20%;
  box-shadow:$boxShadow;

 }
