
.iconimage{
    padding-left: 100px;
    content: url('../images/bookLogo.svg');
    width:70px;
    height: 40px;
    
    
}
.name {
    color: white;
    padding-top: 1px;
    position: relative;
   padding-left: 500px;
   right: 500px;
    font-size: x-large;
    font-weight: bold;
}
@media only screen and  (max-width: 414PX) {
.iconimage{
padding: 0;
}
.name{
    font-size: 0;
}
}